p{
  font-family: Roboto, arial;
  margin-top: 0px;
  margin-bottom: 0px;
        }
body{
  margin: 0;
  padding-top: 85px;
  padding-left: 100px;
  padding-bottom: 80px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}

.footer{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  
}