.header{
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
  z-index: 100;
}

.hamburger-menu{
  margin-left: 25px;
  height: 26px;
  margin-right: 25px;
}

.youtube-logo{
  height: 22px;
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-section{
  flex: 1;
  margin-left: 45px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-button{
  width: 65px;
  height: 42px;
  border-width: 1px;
  color:rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.0.5);
  margin-left: -1px;
  margin-right: 8px;

  position: relative;
}

.voice-search-button{
  width: 40px;
  height: 44px;
  border: none;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}

.voice-search-icon{
  height: 24px;
  padding-top: 4px;
}

.search-bar{
  flex: 1;
  height: 38px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.0.5);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 18px;
}

.search-icon{
  height: 25px;
  padding-top: 4px;
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
  margin-left: 10px;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notification-icon{
  height: 24px;
}

.notification-icon-container{
  position: relative;
}

.notification-count{
  position: absolute;
  background-color: rgb(209, 2, 2);
  color: white;
  top: -5px;
  right: -9px;
  font-family: Roboto,arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}



.my-channel-profile{
  height:32px;
  border-radius: 16px;
}

.search-button .tooltip{
  position: absolute;
  color: black;
}