.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hamburger-menu{
  margin-left: 20px;
  height: 24px;
  margin-right: 20px;
}

.youtube-logo{
  height: 24px;
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-button{
  width: 65px;
  height: 38px;
  border-width: 1px;
  color:rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.0.5);
  margin-left: -1px;
  margin-right: 8px;
}

.voice-search-button{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(248, 248, 248);
}

.voice-search-icon{
  height: 24px;
  padding-top: 4px;
}

.search-bar{
  flex: 1;
  height: 34px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(202, 202, 202);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.0.5);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
}

.search-icon{
  height: 25px;
  padding-top: 4px;
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notification-icon{
  height: 24px;
}

.my-channel-profile{
  height:32px;
  border-radius: 16px;
}