.sidebar{
  position:fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 75px;
  z-index: 200;
  padding-top: 12px;

}

.sidebar-link{
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(226, 221, 221);
}

.sidebar-link img {
  height: 28px;
  margin-bottom: 5px;
}

.sidebar-link p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 11px;
}