.thumbnail{
        width: 100%;
      }

      .video-title{
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
      }

      .normal-link{
        text-decoration: none;
        color: inherit;

      }

      .video-author{
        margin-top: 5px;
        font-size: 13px;
        color: rgb(96, 96, 96);
      }

      .video-stats{
        margin-top: 4px;
        margin-bottom: 12px;
        font-size: 13px;
        color: rgb(96, 96, 96);
      }

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .profile-picture{
        width: 40px;
        border-radius: 50px;
      }

      .thumbnail-row{
        margin-bottom: 10px;
        position:relative
      }

      .video-time{
        position: absolute;
        background-color: black;
        color: white;
        bottom: 10px;
        right: 8px;
        font-family: roboto,Arial, Helvetica, sans-serif;
        font-size: 14px;
        padding: 4px;
        border-radius: 2px;
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 20px;
        row-gap: 30px;
      }

      @media (max-width: 870px) {
        .video-grid {
          grid-template-columns: 1fr 1fr ;
        }
      }

      @media (min-width: 871px) and (max-width: 1129px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr ;
        }
      }

      @media (min-width: 1130px) {
        .video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      