.thumbnail{
        width: 100%;
      }

      .video-title{
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .video-author{
        margin-top: 10px;
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-stats{
        margin-top: 4px;
        margin-bottom: 12px;
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .profile-picture{
        width: 40px;
        border-radius: 50px;
      }

      .thumbnail-row{
        margin-bottom: 10px;
      }

      .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 20px;
        row-gap: 40px;
      }